.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  .price {
    color: grey;
    font-size: 22px;
  }
  
  .card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #736454;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
  }
  
  .card button:hover {
    opacity: 0.7;
  }
 a{
    text-decoration: none;
    color: white;
 }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
    font-size: 20px;
  }
  
  li a {
    display: block;
    color: #736454;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #736454;
    color: white;
  }
  
  li a:hover:not(.active) {
    padding-bottom: .5rem;
    color: var(--main-color);
    border-bottom: 0.1rem solid var(--main-color);
  }